body {
  font-family: "Roboto";
}

.content {
  display: flex;
  margin: 0 auto;
  padding-top: 50px;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.25em;
}

h2 {
  margin: 0;
  font-size: 2.5em;
  font-weight: 900;
}

.description {
  margin-top: 30px;
  margin-bottom: 30px;
  opacity: 0.8;
  font-size: 1.8em;
  font-weight: 300;
  line-height: 1.3em;
}

.title {
  display: flex;
  align-items: center;
}

.icon {
  margin-left: 10px;
  width: 2em;
  height: 2em;
  vertical-align: middle;
  cursor: pointer;
}

.icon:hover {
  opacity: 0.7;
}

a {
  color: black;
  text-decoration: none;
}

.external-icon {
  width: 0.6em;
  height: 1em;
}

.group-of-posts {
  margin-bottom: 30px;
}

.post {
  margin-top: 10px;
  margin-bottom: 10px;
}

.post-link {
  cursor: pointer;
}

.tag {
  display: inline-block;
  vertical-align: middle;
  padding: 0 7px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  border: 1px solid transparent;
  border-radius: 10px;
  margin-left: 10px;
}

.date-tag {
  background-color: #c5112a;
  color: white;
}

.twitter {
  color: #1da1f2;
}

.linkedin {
  color: #0077b5;
}

.company {
  cursor: pointer;
  text-decoration: underline;
}

.month-year {
  font-weight: 500;
  background: black;
  color: white;
  opacity: 0.8;
  padding: 3px 5px;
}
